.thema {
    padding: 22px;
    text-decoration: none;
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}

.thema:hover{
    color: rgb(224, 136, 5);
}

.dark{
    background-color: #232626;
}

.dark a{
    color: white;
}

.dark button{
    color: white;
}

.dark .sobre article h1 {
    color: #a8bcc4;
}

.dark .sobre article h2 {
    font-size: 50px;
    line-height: 90%;
    font-weight: 400;
    color: #006cff;
}